.ant-typography{
  font-size: 32px;
}

span {
  font-size: 40px;
  height: 100px;
}

body {
 background-color: #eee;
 margin: 0;
}

.ant-radio-group-large :where(.css-dev-only-do-not-override-1adbn6x).ant-radio-button-wrapper {
  height: auto;
  font-size: 16px;
  padding: 30px;
}